/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./gallery.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 32px;
  gap: 8px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px;
  transition: all ease-in-out;
  width: 272px;
}

input:hover {
  border: 1px solid #000;
  outline: transparent;
  outline-offset: 4px;
}

input:active,
:focus {
  border: 1px solid #808080;
  outline: transparent;
  outline-offset: 4px;
}

button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 95px;
  border: transparent;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.64px;
  transition: all ease-in-out;
}

button:hover {
  background: #6c8cff;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.loader {
  margin-left: 600px;
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #FF3D00 transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-load-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  max-width: 125px;
  height: 40px;
  margin-top: 32px;
}

.js-load-btn.is-hidden {
  display: none;
}